<h1>Log In</h1>
<%# NON CRUD %>
<% if flash[:error].present? %>
  <p class="error">
  <%= flash[:error] %>
  </p>
<% end %>

<div class="login">
<%= form_tag login_path do %>
  <%= label_tag :email, " " %>
  <%= email_field_tag :email,nil, :class => 'form-control', :placeholder => "Email" %>

  <%= label_tag :password, " " %>
  <%= password_field_tag :password,nil, :class => 'form-control', :placeholder => "Password" %>

  <%= submit_tag "Sign In", :class => 'submit' %>
<% end %>
<h4>Please contact the <%= link_to "Admin", "https://www.youtube.com/watch?v=k6LB6nrkoJU" %> if you have forgotten your password</h4>
</div>
