<h2><% if @user == @current_user %>
      <%= 'My profile' %>
        <% else %>
      <%= @user.username %>'s profile</h2>
    <% end %>
      <br>
        <%= cl_image_tag(@user.image, :class => 'profile-icon') if @user.image.present?%>
        <br>
        <p>Name:
          <%= @user.name %>
        </p>
        <p>Username:
          <%= @user.username %>
        </p>
        <p>Date of Birth:
          <%= @user.dob %>
        </p>
        <p>Location:
          <%= @user.location %>
        </p>
        <% if @user == @current_user  %>
          <p>Email:
            <%= @user.email %>
          </p>
          <p><%= link_to 'Edit profile', edit_user_path %>
          <%= link_to 'Delete account', @user, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
          </p>
          <br>
            <h3>See my items</h3>
              <% @user.items.each do |item| %>
                <%= link_to cl_image_tag(item.image, :class => 'icon flex card'), item %>
              <% end %>
              <h4><%= link_to 'Add item', new_item_path %></h4>
                <% elsif @user != @current_user || @current_user.present? %>
                <h3>See seller's items</h3>
                  <% @user.items.each do |item| %>
                    <%= link_to cl_image_tag(item.image, :class => 'icon flex card'), item %>
          <% end %>
          <br>
      <% end %>
      <h3>Coming soon</h3>

        <% if @current_user.present? %>
            <%= link_to 'Reviews', new_review_path %>
              <% elsif @current_user.nil? %>
            <p><%=  link_to 'Sign up', new_user_path %> or <%=  link_to 'log in', login_path %> to leave a review.</p>
        <% end %>
