<h2>Your order</h2>
<div class="order-form">
<% @current_cart.line_items.each do |line_item| %>
<div class="icon flex card">
  <% if line_item.item %>
    <%= cl_image_tag(line_item.item.image, :class => 'icon')  %>
    <br>
     <%= link_to line_item.item.name, item_path(line_item.item_id) %>
    <br>
    </div>
  <% end %>
<% end %>

<h4>Total Price: <%= number_to_currency(@current_cart.total) %> </h4>

 <%= form_tag charges_path do %>
 <article>
           <% if flash[:error].present? %>
             <div id="error_explanation">
               <p><%= flash[:error] %></p>
             </div>
             <% end %>
         </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Pay your order"
          data-billing-address="true"
          data-shipping-address="true"
          data-amount="<%= @current_cart.total * 100 %>"
          data-locale="auto"></script>
  <% end %>

</div>
