<h4><%= link_to 'Go Back', items_path %></h4>

<h2>My Cart</h2>
  <div class="flex">
    <div class="card">
  <% @cart.line_items.each do |line_item| %>
    <%= cl_image_tag(line_item.item.image, :class => 'icon')  %>
    <br>
     <%= link_to line_item.item.name, item_path(line_item.item_id) %>
    <br>
     Price: <%= number_to_currency(line_item.item.price) %>
     <br>
        <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
        <br>

  <% end %>
  </div>
</div>
<hr>

<h3>Total Price: <%= number_to_currency(@cart.total) %> </h3>
