<%= link_to "Back", items_path %>
<h1><%= @item.name %></h1>
  <div class="flex">
    <div class="description">
      <%= cl_image_tag @item.image, :class =>  'feature' if @item.image.present? %>
    </div>
      <br>
      <div class="description">
        <% if @item.user.present? %>
          <%= cl_image_tag(@user.image, :class => 'profile-icon-s')  if @user.image.present?%>
          <%= link_to @user.username, user_path(@user.id) %>
          <br>
          <small><%= @user.location %></small>
        <% end %>

              <h3><%= number_to_currency @item.price %></h3>

              <% if @item.description.nil? %>
                <h4><%= "The seller did not provide a description" %></h4>
                <% else %>
                <h4><em><%= @item.description%><em></h4>
                <% end%>

              <ul>
                <li>Size: <%= @item.size %></li>
                <li>Style: <em><%= @item.style ? @item.style : "The seller didn't provide the item's style" %></em></li>
                <li>Condition: <%= @item.condition ? @item.condition : "The seller didn't provide the item's condition"%></li>
                <li>Color: <%= @item.color %></li>
                <li>Shipping: <%= @item.shipping > 0 ? number_to_currency(@item.shipping) : "Free" %></li>
              </ul>
                  <div class="comment-box">
                    <h5><%= link_to 'See reviews for this seller',user_path(@user.id) %></h5>
                  </div>

                  <div class="items-icons">
                      <%= link_to image_tag('/assets/icons8-add-basket-48.png', :width => '30px'), line_items_path(:item_id => @item.id), :method => 'post' %>
                      </div>
                  <div class="items-icons">
                    <%= link_to image_tag('/assets/icons8-mail-48.png', :width => '30px') %>
                  </div>

                  <div class="items-icons">
                    <%= link_to image_tag('/assets/icons8-heart-48.png', :width => '30px') %>
                  </div>

                    <br>
                <% if @user == @current_user%>
              
                    <p class="button_path edit"><%= link_to 'Edit Item', edit_item_path(@item) %></p>
                    <p class="button_path delete"><%= link_to 'Delete Item', @item, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
                <% end %>
        </div>
  </div>
