<div class="logo">
  <a href="/"><h3>fuku<br>zatsu</h3></a>
  <nav>
  <% if @current_user.present? %>

  <%= link_to "your profile", user_path(@current_user.id) %>
  <%= link_to 'cart' %>
  <%= link_to "log out" , login_path, :method => 'delete' %>
  <% else %>
  <%= link_to 'sign up', new_user_path %>
  <%= link_to 'log in', login_path %>
  <% end %>
</nav>
</div>
