<div class="header">
  <a href="/"><img src="/assets/fuku zatsu.png" width="100px" alt=""></a>
    <details>
      <summary></summary>
      <nav class="menu">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Shop', items_path %>
        <% if @current_user.present? %>
          <%= link_to 'Your profile', user_path(@current_user.id) %>
          <%= link_to 'Your cart', cart_path(@current_cart) %>
          <%= link_to 'Your orders', orders_path %>
          <%= link_to "Log out", login_path, :method => 'delete' %>
          <% else %>
          <%= link_to 'Sign up', new_user_path %>
          <%= link_to 'Log in', login_path %>
        <% end %>
      </nav>
  </details>
</div>
